#page-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.container .nav-collapse {
    z-index: 50;
    background: #1a1a1a;
}
.row-fluid ul li {
    max-width: 100%;
    text-align: center;
}
/*.row-fluid ul .span3{
	margin: 0 auto 20px;
}*/

.footer {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.centerDiv {
    width: 95%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.centerDiv iframe {
    display: block !important;
    margin: 0 auto !important;
}
@media (max-width: 767px) {
    ul.nav.mobile {

        width: unset !important;
        float : unset !important;
    }
   .sm-links {
        float: right;
        position: relative !important;
        padding-top: 15px !important;
    }
    #above_logo_text {
        font-size: 2em;
    }
}
.sm-links {
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
}
.sm-links > a{
    color: #fff !important;
}
