

body {
    background: #e1e6eb;
    font-family: 'Open Sans', sans-serif;
}
.topBar {
    width: 100%;
    background: #fff;
    padding: .1% 2%;
}
.logo {
    font-family: 'Pacifico', cursive;
}
.topBar h1 {
    color: #535d6c;
    font-size: 1.5em;
}

header {
    padding-top: 1.5% ;
}

header h1{
    color: #455260;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif !important;
}

.subscriber {
    margin-top: 20px;
}

.subscriber input {
    border-radius: 3px 0 0 3px;
}

footer {
    margin-bottom: 20px;
}